@define-color foreground #d9cacf;
@define-color background #150d12;
@define-color cursor #d9cacf;

@define-color color0 #150d12;
@define-color color1 #682DA4;
@define-color color2 #7042A9;
@define-color color3 #9666AD;
@define-color color4 #9136C4;
@define-color color5 #A860D0;
@define-color color6 #2AD1BD;
@define-color color7 #d9cacf;
@define-color color8 #978d90;
@define-color color9 #682DA4;
@define-color color10 #7042A9;
@define-color color11 #9666AD;
@define-color color12 #9136C4;
@define-color color13 #A860D0;
@define-color color14 #2AD1BD;
@define-color color15 #d9cacf;
