* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 500;
  padding-top: 1px;
  padding-bottom: 1px;
}

@import "colors-waybar.css";

window#waybar {
  background-color: rgba(43, 48, 59, 0.5);
  border: 3px solid rgba(200, 200, 200, 0.2);
  color: #ffffff;
  border-radius: 12px;
}

#workspaces button.active {
  border-radius: 10px;
  box-shadow: inset 0 -2px rgba(255, 255, 255, 0.7);
}

#workspaces button {
  padding: 0 5px;
  background-color: transparent;
  color: #ffffff;
}

#workspaces button:hover {
  background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused {
  background-color: #64727D;
  box-shadow: inset 0 -3px #ffffff;
}

/* Center modules */
#clock {
  font-weight: 700;
  font-size: 26px;
}

/* Left modules */
#custom-logo {
  font-size: 25px;
  color: @color6;
  margin-left: 15px;
}



/* Right modules */
#tray,
#pulseaudio,
#power-profiles-daemon {
  margin-right: 6px;
}

#battery {
  padding-left: 10px;
  margin-right: 15px;
  padding-right: 15px;
}
