window {
  border-radius: 20px;
  background-color: rgba(50, 50, 50, 0.8);
  border: 6px solid rgba(255, 255, 255, 0.4);
}

#entry:selected {
  border-radius: 20px;
  outline-radius: 20px;
  outline: none;
  margin: 6px;
  background-color: rgba(90, 90, 90, 0.6);
}

#entry {
  margin: 6px;
}

#input {
  border-radius: 20px;
  margin: 5px;
  border: none;
  background-color: rgba(50, 50, 50, 0);
}
